/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Accordion
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
article.accordion {
	display: block;
	width: 100%;
	margin: 20px auto 50px auto;
	overflow: auto;

	section {
		position: relative;
		display: block;
		float: left;
		width: 43px;
		height: 450px;
		margin: 0 4px;
		color: #333;
		@include background-size(cover !important);
		overflow: hidden;
		@include transition(all 1s ease);
		&.active {
			width: 60%;
			padding: 0 1em;
			color: #333;
			background-color: #fff;
			h1 {
				position: absolute;
				top: 50px;
				right: 0;
				font-size: 2em;
				text-indent: 0;
				padding: 2px 15px;
				margin: 0;
				@include rgba-background($black, 0.8);
				color: $white;
			}
			a.learn-more {
				position: absolute;
				top: 110px;
				right: 0;
				font-size: 0.8em;
				text-indent: 0;
				padding: 8px 25px 8px 10px;
				@include rgba-background($white, 0.8);
				color: $black;
				&:after {
					@extend .fa-base;
					content: '';
					top: 50%;
					right: 10px;
					margin-top: -0.5em;
					font-size: 1em;
					color: $black;
				}
			}
			h2 {
				position: static;
				font-size: 1.3em;
				text-indent: 0;
				color: $black;
				text-indent: -9999px;
				background: none;
				@include rotate(0deg);
			}
		}
		h1, a.learn-more {
			display: block;
			position: static;
			text-indent: -9999px;
		}
		h2 {
			position: absolute;
			font-size: 1.4em;
			font-weight: bold;
			width: 50em;
			height: 43px;
			bottom: 0;
			left: 0;
			margin-bottom: -43px;
			padding-left: 10px;
			color: $white;
			@include rgba-background($black, 0.7);
			-webkit-transform-origin: 0 0;
			-moz-transform-origin: 0 0;
			-ms-transform-origin: 0 0;
			-o-transform-origin: 0 0;
			transform-origin: 0 0;
			@include rotate(-90deg);
			// @include transition(all 1s ease);
			a {
				display: block;
				width: 100%;
				line-height: 2.0em;
				text-decoration: none;
				color: inherit;
				outline: 0 none;
			}
		}
	}
}
